html{
   height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-image: url("../images/back_ground.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    height: auto;
    padding: 10px;
    overflow-x: hidden;
}
.flex{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex_column{
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    flex-direction: column;
}

.right,.left{
    flex: 1;
}

.align_inherit{
    align-items: inherit;
}


.text_small{
    font-size: small;
    margin: 5px;
}

/*Start page*/
.start_page{
	  color: white;
	height: 90vh;
    width: 90vw;
    background: #13090996;
}
#get_started{
	position: relative;
	top: 10px;
	width: 100px;
 	margin: auto;
  	padding: 10px;
  	background: #00B9BC;
  	border-radius: 5px;

}
main{
  margin-top: 100px;
}
#get_started:hover {
    background: #197071;
}
#get_started a{
  text-decoration: none;
  color: inherit;
}

.start_page_header{
    font-weight: bolder;
  }
.start_page_main{
    font-weight: bold;
    font-size: 20px;
  }

/*form sign up, sign in, add records*/
.container {
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  width:80%;
  display: flex;  
  flex-direction: column;
  color: #fff;
}
.logo{
  color: white;
  font-weight: bolder;
  font-size:30px;
  text-align: center;
  padding: 20px 20px 0;
  margin:0;
}

.login-item {
  color: #fff;
  padding:25px 25px 0;
  margin: 20px 20px 0;  
  border-radius: 3px;
  width: auto;
  background: #13090996;
    }

input {
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}

.form input[type="button"],.form-login input[type="email"],
.form input[type="number"],.form input[type="password"],
.form input[type="text"], .form input[type="submit"],
.form textarea {
  width: 100%;
  border-radius: 0.25rem;
  padding: 1rem;
  color: #3A3F44;  
}

.form-login label{
  width: 20%;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: #222222;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
#not_logged_in .form-login input[type="number"],
#not_logged_in .form-login input[type="email"],
#not_logged_in .form-login input[type="text"],
#not_logged_in .form-login input[type="password"] {
  background-color: #ffffff;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.form-login input[type="number"]:focus, .form-login input[type="number"]:hover,
.form-login input[type="text"]:focus, .form-login input[type="text"]:hover,
.form-login input[type="password"]:focus, .form-login input[type="password"]:hover,
.form-login input[type="email"]:focus, .form-login input[type="email"]:hover,
.form-login textarea:fous, .form-login textarea:hover {
  background-color: #eeeeee;
}

.form-login input[type="submit"], .form-login input[type="button"] {
  background-color: #00B9BC;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

.form-login input[type="button"]:focus, .form-login input[type="button"]:hover,
.form-login input[type="submit"]:focus, .form-login input[type="submit"]:hover {
  background-color: #197071;
}

#user_button,#admin_button{
  margin: 0 10px;
}

#logged_in input[type=number],#logged_in input[type=button]{
    margin: 5px;
  }

.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  width: auto;
}

.form-field a{
  text-decoration: none;
  color: #00B9BC;
}
.form-field a:hover{
  text-decoration: underline;
}

/*drop down*/
.dropbtn {
    width: 100%;
    margin: 2px;
    background-color: #00B9BC;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
   }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #197071;
}


#poster{
    margin: auto;
}

/*side navigation*/
#side_nav{
    width: 30vw;
    color: white;
    background: #13090996;
}
#user{
    height: 30vh;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}
#user_pic img{
    border-radius: 100%;
}
#menu{
    width: 30vw;
    padding: 5px;
}
#menu div a{
    display: block;
    text-decoration: none;
    color: inherit;
    height: 30px;
    margin: 5px;
}


/*card content*/
#main{
    height: 99vh;
    width: 70vw;
    margin: 0 auto auto 10px;
    padding: 10px;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#media{
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
#media img,#media video{
    width: 20px;
    flex: 1;
}
.row{
    background: white;
    margin: 10px;
}
#media img{
    margin-right: 5px;
}
#row_row_details{
    padding: 5px;
    font-size: x-small;
}
.right,.left{
    flex: 1;
}
.text_center{
    text-align: center;
}

#row_buttons{
    display: flex;
    border-top: 1px solid #ccc;
}
#row_buttons a{
    text-decoration: none;
    color: inherit;
}
#delete{
    background: #00B9BC;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 8px;
    margin: 5px;
}

#delete:hover{
    background: #197071;
}
.card{
    border-radius: 3px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.2);
}
.title{
    text-transform: uppercase;
    font-size: small;
    color: #ff0202;
}
.tab-title{
  text-align: center;
  text-transform: uppercase;
}
.tab{
    border-bottom: 1px solid #444;
    color: #fff;
    border-radius: 4px;
    padding: 2px;
    margin: 1px;
}
.tab:hover{
    background: #197071;        
}
.geo_loc{
    font-size: x-small;
    text-align: center;
}

div#record_details{
    margin-top: 10px;
    font-size: 15px;
    padding-left: 10px;
}
.record_details_numeric{
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}

/*Comment pop up*/
        .chat-popup{
          display: none;
          position: fixed;
          width: 50vw;
          height: auto;
          top: 10px;
          left: 30vw;
          border: 3px solid #f1f1f1;
          z-index: 9;
        }
        .form-container{
          display: flex;
          flex-direction: column;
          max-width: 100%;
          padding: 5px;
          background-color: white;
        }
        .form-container textarea{
          width: auto;
          padding: 10px;
          border: none;
          background-color: #f1f1f1;
          min-height: 200px; 
        }
        .btn{
          margin-top: 5px;
        }

/*Collapsible button*/
    .collapsible{
      border: none;
      outline: none;
      cursor: pointer;
      width: 90%;
      color: inherit;
        border-bottom: 1px solid #444;
        color: #fff;
        border-radius: 4px;
        padding: 2px;
        margin: 1px;
        background-color: inherit;
        height: 40px;
        font-size: inherit;
      }
    .active,.collapsible:hover{
      background: #197071
    }
    .records_content{
      display: none;
      overflow: hidden;
      padding: 0 18px;
    }
    .records{
      border-bottom: 1px solid #ccc;
    }

@media screen and (max-width: 700px){
    #location{
      flex-direction: column;
    }

  #logged_in input[type=number],#logged_in input[type=button]{
      width: auto;
      margin: 5px 0;  
    }

    input[type="number"]{
      width: 100%;
      padding: 5px;
    }
}

@media screen and (max-width: 580px){
    .wrapper{
        overflow-x: hidden;
        padding: 1px;
        width: auto;
    }

    div#record_details{
        font-size: 10px;
    }

    #side_nav{
      position: absolute;
      top: 0;
      left: 0;
      width: 30vw;
      font-size: 10px; 
    }
    #user{
      height: 20vh;
    }
    .container{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: auto;
        border-radius: 0;
      }
    #main{
        width: 67vw;
        margin: auto;
        padding: 1px;
        position: absolute;
        top: 0;
        left: 30vw;
    }
    .row{
        margin: 2px;
        width: auto;
    }
    #menu div a{
        margin: 2px; 
    }
    #media{
        flex-direction: column;
        padding: 1px;
    }
    #media video,#media img{
        width: 100%;
        margin-top: 5px;
    }
    #row_details{
        width: 100%;
        font-size: 10px;
    }
    .wrapper{
        font-size: 15px;
    }

}

@media screen and (max-width: 450px){
	.login-item{
		position: absolute;
		left: 0;
		right: 0;
		padding: 50px 5px 0px;
	}
	.form-field{
		width: 100%;
    margin-bottom: 1rem;
	}
	.form-login label{
    display: none;
  }

.start_page_header{
  font-size: 20px;
    font-weight: bold;
  }

#not_logged_in .form-login input[type="number"],
#not_logged_in .form-login input[type="email"],
#not_logged_in .form-login input[type="text"],
#not_logged_in .form-login input[type="password"] {
  border-radius: 0.25rem;
}
    .wrapper{
        width: auto;
    }
    #user_pic img{
        width: 80px;
        height: 80px;
    }
}
@media screen and (max-width: 340px){
.start_page_main{
    font-weight: bold;
    font-size: 15px;
  }

  #row_row_details{
    flex-direction: column;
  }
  #row_row_details .title,#row_row_details .geo_loc{
    border-bottom: 1px solid #ccc;
  }
	.container{
		font-size: 15px;
	}
  #details{
    border-top: 1px solid #ccc;
  }
  .form-field{
    margin-bottom: 0.5rem;
  }
  #user img{
    width: 50px;
    height: 50px;
  }
  .logo{
      font-size: 25px;
  }
	.form input[type="button"],
	.form-login input[type="email"], 
	.form input[type="number"], 
	.form input[type="password"], 
	.form input[type="text"], 
	.form input[type="submit"], 
	.form textarea {
		padding: 15px;
	}
}